# Ignore everything
/*

# Except these folders
!Assets/
!Packages/
!ProjectSettings/

# Ignore meta files inside ignored folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
*.csproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.unitypackage
sysinfo.txt
.idea/
.vs/
